@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;400;700&display=swap');

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

body{
    background-image: url('https://images.unsplash.com/photo-1536244636800-a3f74db0f3cf?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=792&q=80');
    font-family: 'Poppins' , sans-serif;
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
    height: 100vh;
    display: relative;
}

.container{
    color: white;
}

.forecast{
    display: flex;
    background-color: #263238;
    opacity: 0.8;
    bottom: 0;
    width: 100%;
    position: fixed;
    align-items: center;
    justify-content: center;
    overflow-y: hidden;
}

.forecast div{
    padding: 10px;
}

.forecast .curForecast{
    display: flex;
    align-items: center;
    padding: 15px;
    justify-content: center;
    border: 1px solid white;
    border-radius: 10px;
}

.forecast .futureForecast{
    align-items: center;
    justify-content: center;
    display: flex;
}

.curForecast .day{
    font-size: 30px;
    padding: 0 20px 10px 20px;
    align-items: center;
}

.curForecast .temp{
    font-size: 20px;
    padding: 0 20px 10px 20px;
}

.futureForecast .futureForecast-item{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding-left: 20px;
    padding-right: 20px;
    margin: 5px;
    border: 1px solid white;
    border-radius: 10px;
    width: 100px;
}

.futureForecast-item{
    height: auto;
    width: 100%;
    color: white;
    /* font-size: 20px; */
}

.futureForecast-item:hover{
    color: black;
    background-color: #455a64;
}

.futureForecast .day{
    font-size: 20px;
}

.futureForecast .temp{
    font-size: 15px;
}

.curForecast:hover{
    color: black;
    background-color: #455a64;
}

.time{
    font-size: 50px;
}

.time span{
    font-weight: 200;
    font-size: 25px;
}

.date{
    font-weight: 400;
    font-size: 20px;
}

.time-date{
    padding: 50px 0 15px 100px;
}

.Location{
    padding: 60px 50px 15px 100px;
}

.currentInfo{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    position: relative;
}

.time-zone{
    font-size: 33px;
    font-weight: 500;
}

#inputLoc{
    background-color: transparent;
    border: none;
    outline: none;
    border-bottom: 1px solid black;
    font-size: 17px;
}

#inputLoc::placeholder{
    color: white;
    font-size: 17px;
}

.current-weather-condition{
    background-color: #263238;
    border: 1px solid white;
    width: max-content;
    opacity: 0.8;
    border-radius: 10px;
    margin: 10px 0 0 100px;
    padding: 10px;
    width: 200px;
}

.current-weather-condition .weather-item{
    display: flex;
    justify-content: space-between;
    color: #cfd8dc;
}

.weather-item div{
    padding: 5px;
}

.weather-item:hover{
    color: white;
}

#searchLoc{
    background-color: #bdbdbd;
    border: 1px solid black;
    height: 30px;
    width: 40px;
    border-radius: 5px;
}

.locItem{
    display: flex;
}

@media only screen and (max-width:1400px) {

    .forecast{
        justify-content: start;
        /* margin-left: 10px; */
        align-items: none;
        overflow-x: scroll;
    }
    .curForecast{
        margin-left: 10px;
    }
    
}

@media only screen and (max-width:800px){

    .forecast{
        justify-content: start;
        overflow-y: scroll;
        align-items: none;
        /* font-size: 17px; */
    }

    .futureForecast-item{
        /* width: 110px; */
        font-size: 17px;
    }

    .curForecast .day{
        font-size: 25px;
    }
    
    .curForecast .temp{
        font-size: 15px;
    }
    
    .futureForecast .day{
        font-size: 18px;
    }
    
    .futureForecast .temp{
        font-size: 13px;
    }

    .time-zone{
        font-size: 25px;
    }

    #inputLoc{
        font-size: 15px;
    }

}

@media only screen and (max-width:700px){
    .time-date{
        padding: 50px 50px 0 90px;
    }

    .Location{
        padding: 40px 50px 10px 90px;
    }

    .current-weather-condition{
        margin: 10px 50px 0 90px;
    }
    .time{
        font-size: 2rem;
    }
    .time span{
        font-size: 1rem;
    }
    .date{
        font-size: 1rem;
    }
    .time-zone{
        font-size: 1.5rem;
    }
    #inputLoc{
        font-size: 1rem;
    }
    .curForecast img{
        width: 7rem;   
    }
    .curForecast .day{
        font-size: 1.5rem;
    }
    .curForecast .temp{
        font-size: 0.9rem;
    }
    .futureForecast img{
        width: 6rem;   
    }
    .futureForecast .day{
        font-size: 1.2rem;
    }

    .weather-item div{
        font-size: 0.7rem;
    }
}
